body {
  background-image: url(images/landingpagebackground.png);
  margin: 0%;
  background-repeat: no-repeat;
}

img {
  display: block;
  max-width: 100%;
  margin-top: 20em;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #d40511;
  margin: 0%;
  font-size: 1.5em;
  text-align: center;
  margin-top: 0.5em;
}

button {
  display: block;
  color: white;
  background-color: #d40511;
  border: none;
  width: 317px;
  height: 48px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 4px;
}

.dot {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
}

.dot__pigment {
  height: 15px;
  width: 15px;
  background-color: #fecc2f;
  border-radius: 50%;
}

.dot__pigment--opacity {
  opacity: 30%;
  height: 15px;
  width: 15px;
  background-color: #fecc2f;
  border-radius: 50%;
}

a {
  text-decoration: none;
}