body {
  margin: 0%;
  background-color: #f2f2f2;
}

.center {
    text-align: center;
}

.header__backarrow {
    margin: 1em;
}

.header__headline {
    margin: 0%;
}

.header__letterman {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

.main__text {
  margin-top: 5em;
  font-size: 18px;
  margin-top:4em;
  margin-bottom: 0%;
}

p {
  margin:0;
}

.main__form--phonenumber {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 317px;
  height: 48px;
}

input[type=number] {
  width: 317px;
  height: 48px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #D40511;
  box-sizing: border-box;
  border-radius: 4px;
}

button {
  display: block;
  color: white;
  background-color: #d40511;
  border: none;
  width: 317px;
  height: 48px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.accept__checkbox {
  display: grid;
  grid-template-columns: 130px 1fr;
  margin-top: 1em;
}

.accept__checkbox--edit{
  width: 25px;
  height: 25px;
  position: absolute;
  margin-top: 6px;
  margin-left: 5em;
}

.accept__checkbox--position {
  position: absolute;
}

.accept__terms {
  grid-column: 2;
}

.accept__text {
  margin-top: 1em;
}

.accept__read {
  grid-column: 2;
}

.dot {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7em;
}

.dot__pigment {
  height: 15px;
  width: 15px;
  background-color: #fecc2f;
  border-radius: 50%;
}

.dot__pigment--opacity {
  opacity: 30%;
  height: 15px;
  width: 15px;
  background-color: #fecc2f;
  border-radius: 50%;
}

p {
  font-size: 18px;
}

u {
  color: black;
  font-size: 18px;
}