body {
  margin: 0%;
  background-color: #f2f2f2;
}

.center {
    text-align: center;
}

.header__backarrow {
    margin: 1em;
}

.header__headline {
    margin: 0%;
}

.header__letterman {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

.main__text {
  margin-top: 5em;
  font-size: 18px;
  margin-top:4em;
  margin-bottom: 0%;
}