body {
   background-color: #F2F2F2;
}
.dot {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
  }
  
  .dot__pigment {
    height: 15px;
    width: 15px;
    background-color: #fecc2f;
    border-radius: 50%;
  }
  
  .dot__pigment--opacity {
    opacity: 30%;
    height: 15px;
    width: 15px;
    background-color: #fecc2f;
    border-radius: 50%;
  }